<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            @page {
                size: a4 portrait;
                @frame header_frame {
                    -pdf-frame-content: header_content;
                    left: 50pt; width: 512pt; top: 50pt; height: 70pt;
                }
                @frame content_frame {
                    left: 50pt; width: 512pt; top: 130pt; height: 632pt;
                }
                @frame footer_frame {
                    -pdf-frame-content: footer_content;
                    left: 50pt; width: 512pt; top: 772pt; height: 80pt;
                }
            }
    
            html {
                font-size: 16px;
            }
    
            p {
                text-align: justify;
                word-break: break-word;
                max-width: 100%;
            }
    
            .header {
                max-height: 20px!important;
                height: 40px;
                background-image: url('http://{{url}}/static/header.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: right;
                background-position-y: top;
            }
    
            a.long-url {
                word-wrap: break-word;
                max-width: 100%;
            }
        </style>
        </head>
        
        <body>
            <!-- Content for Static Frame 'header_frame' -->
            <div id="header_content">
                <image src="http://{{url}}/static/head.jpg" alt="head"/>
            </div>
        
            <!-- Content for Static Frame 'footer_frame' -->
            <div id="footer_content">
                <image src="http://{{url}}/static/footer.png" alt="footer"/>
            </div>
        
            <!-- HTML Content -->
            <div>
                <h2 style="text-align: center;">CONCEPTO DE RECONOCIMIENTO DE NORMA TÉCNICA {{user.email}}</h2>
                <p>
                    El Ministerio de Minas y Energía es el órgano competente encargado de la interpretación técnica, revisión y actualización del RETIE, de acuerdo con lo establecido en el artículo XX de la Resolución XXXXX de 20XX. La cual se puede consultar en la página web https://www.minenergia.gov.co/es/misional/energia-electrica-2/reglamentos-tecnicos/reglamento-técnico-de-instalaciones-eléctricas-retie/, al igual que las ampliaciones y modificaciones que ha tenido el Reglamento Técnico en mención.
                </p>
                <p>
                    De acuerdo con lo establecido en el numeral 4.4.1.5 del RETIE, A través de la presente se declara que el producto Motores para bombas contra incendio se encuentra certificado con la norma técnica UL 1004-5 mediante certificado vigente. 
                </p>
                <p>
                    Se precisa que los certificados de producto expedidos en el exterior requieren ser reconocidos por la Superintendencia de Industria y Comercio - SIC. Este concepto de reconocimiento de norma técnica no reemplaza el certificado expedido por el organismo de certificación, no obliga a la SIC a la validación del certificado, ni exonera a dar cumplimiento a los requisitos de rotulado exigidos en el RETIE, en idioma castellano.
                </p>
                <p>
                    Si tiene alguna inquietud adicional, lo invitamos a que visite la página web:
                    <a class="long-url" href="https://www.minenergia.gov.co/es/misional/energia-electrica-2/reglamentos-tecnicos/preguntas-frecuentes-reglamentos-t%C3%A9cnicos-del-sector-energ%C3%ADa-el%C3%A9ctrica/">
                        https://www.minenergia.gov.co/es/misional/energia-electrica-2/reglamentos-tecnicos/preguntas-frecuentes-reglamentos-t%C3%A9cnicos-del-sector-energ%C3%ADa-el%C3%A9ctrica/
                    </a>, donde se encuentra publicado un listado de preguntas frecuentes de los Reglamentos Técnicos del sector de energía eléctrica a cargo de esta Dirección.
                </p>
                <p>
                    Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                </p>
                <p>
                    Expedido el __ de _________ de ________ a solicitud de Empresa de Motores S.A.
                </p>
            </div>
        </body>
</html>