{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}</title>
    <meta name="pdfkit-orientation" content="Portrait"/>
    <meta name="pdfkit-page-size" content="Letter"/>
    <style>
        table {
            height: 100vh;
            width: 100%;
        }
        body {
            margin: 0;
        }
        tbody > tr > td {
            padding: 0% 10%;
        }
        thead > tr > th {
            height: 7vh;
            padding: 0% 10%;
        }
        tfoot > tr > td {
            height: 12vh;
            padding: 0% 10%;
        }
        tbody {
            flex: 1 0 auto;
        }
        .footer {
            font-size: 13px;
        }
        .header {
            height: 100%;
            display: block;
        }
        @media print {
            @page{
                margin: 10mm 0mm 0mm 0mm;
            }
            .footersss {
                position: fixed;
                bottom: 0;
                margin: 5% 0%;
                width: 80%;
            }
            
            table {
                page-break-after: auto !important;
            }

            tr {
                page-break-inside: avoid !important;
            }

            td {
                page-break-inside: unset !important;
            }

            thead {
                display: table-header-group !important;
                page-break-before: always;
                position: relative;
            }

            tbody {
                display: table-row-group !important;
            }
        }
        @page {
            @bottom-center {
                content: element(tfoot);
            }
        }

        tfoot {
        display: table-footer-group;
        }

        tfoot::after {
        content: element(tfoot);
        }
        p {
            text-align: justify;
        }
        .footerC{
            display: flex;
        }
        .textizq {
            width: 90%;
            display: block;
        }
        .textder {
            width: 10%;
            display: block;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>
                    <image class="header" src="http://localhost:8000/static/header.png" alt="footer"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div>
                        <h2 style="text-align: center;">CONCEPTO DE RECONOCIMIENTO DE NORMA TÉCNICA {{now}}</h2>
                        <p>
                            El Ministerio de Minas y Energía es el órgano competente encargado de la interpretación técnica, revisión y actualización del RETIE, de acuerdo con lo establecido en el artículo XX de la Resolución XXXXX de 20XX. La cual se puede consultar en la página web https://www.minenergia.gov.co/es/misional/energia-electrica-2/reglamentos-tecnicos/reglamento-técnico-de-instalaciones-eléctricas-retie/, al igual que las ampliaciones y modificaciones que ha tenido el Reglamento Técnico en mención.
                        </p>
                        <p>
                            De acuerdo con lo establecido en el numeral 4.4.1.5 del RETIE, A través de la presente se declara que el producto Motores para bombas contra incendio se encuentra certificado con la norma técnica UL 1004-5 mediante certificado vigente. 
                        </p>
                        <p>
                            Se precisa que los certificados de producto expedidos en el exterior requieren ser reconocidos por la Superintendencia de Industria y Comercio - SIC. Este concepto de reconocimiento de norma técnica no reemplaza el certificado expedido por el organismo de certificación, no obliga a la SIC a la validación del certificado, ni exonera a dar cumplimiento a los requisitos de rotulado exigidos en el RETIE, en idioma castellano.
                        </p>
                        <p>
                            Si tiene alguna inquietud adicional, lo invitamos a que visite la página web: https://www.minenergia.gov.co/es/misional/energia-electrica-2/reglamentos-tecnicos/preguntas-frecuentes-reglamentos-t%C3%A9cnicos-del-sector-energ%C3%ADa-el%C3%A9ctrica/, donde se encuentra publicado un listado de preguntas frecuentes de los Reglamentos Técnicos del sector de energía eléctrica a cargo de esta Dirección.
                        </p>
                        <p>
                            Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                        </p>
                        <p>
                            Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                        </p>
                        <p>
                            Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                        </p>
                        <p>
                            Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                        </p>
                        <p>
                            Por último, cabe precisar que el presente concepto se profiere en el marco de la situación planteada y se proyecta exclusivamente a la luz de las normas que se encuentran vigentes sobre la materia a la fecha de generarse, sin tener carácter obligatorio ni vinculante por su naturaleza de concepto técnico. Por lo tanto, se emite conforme a lo dispuesto en el Artículo 28 de la Ley 1437 de 2011 -Código de Procedimiento Administrativo y de lo Contencioso Administrativo CPACA., sustituido por el Artículo 1 de la Ley 1755 de 2015, el cual señala: “Salvo disposición legal en contrario, los conceptos emitidos por las autoridades como respuestas a peticiones realizadas en ejercicio del derecho a formular consultas no serán de obligatorio cumplimiento o ejecución”.
                        </p>
                        <p>
                            Expedido el __ de _________ de ________ a solicitud de Empresa de Motores S.A.
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <!-- <image class="footer" src="http://localhost:8000/static/footer.png" alt="footer"/> -->
                    <div class="footer">
                        <div class="footerC">
                            <div class="textizq">
                                <h4 style="text-align: center; margin: 0 0 2px; font-size: 14px;">En Minenergía todos los trámites don gratuitos.</h4>
                                <span>
                                    <b>Reporte cualquier irregularidad en el correo electrónico lineaetica@minenergia.gov.co</b>
                                    <br>
                                    <b>Calle 43 No. 57 - 31 CAN Bogotá, Colombia - Código Postal 111321</b>
                                    <br>
                                    Conmutador (571) 2200300 - Línea gratuita nacional 01 8000 910180
                                </span>
                            </div>
                            <div class="textder">
                                <image class="footerB" src="http://localhost:8000/static/footerB.png" alt="footer"/>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>